<% provide(:title, "#{@blog.title}- #{@user.name}") %>

<div>

	<h1>BLOG-TITLE</h1>
	<div>       
		<%= user_gravatar @user, size: 50 %>			
		<%= @blog.user.name %>
	</div>
	</br>
	<h2>Content</h2>
	<div>		
		<%= simple_format(@blog.text) %>
	</div>
	<div style="white-space: pre-wrap">
		<%= @blog.text %>
	</div>
	<div>		
		<%= @blog.text %>
	</div>

</div>